/* YeyeYeee código aquí */

.notification{
  width: 100%;
  height: 100%;
  background-color: #3E3F41
}
.titulo {
color:#F6A800;
text-align: center;
font-size: 45px;
font-weight: 800;
font-family: 'Fjalla One', sans-serif;
}
.image{
  width: 70%;
  margin: 25%;
}
.titulo {
padding-bottom: 8%;
}
.inicio{
  width: 100%;
  background-color: #F6A800;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.olvidoContraseña{
color:white;

}
.registrate{
  padding-top: 20%;
  color: white;
}
span{
  color:#F6A800;
  font-weight: bold;
}
/* Estilo de menu*/
.Menu{
width: 100%;
background-color: #3E3F41;
}
.Saldo{
  margin-top: 5%;
  width: 100%;
  color:#3E3F41;
  background-color: #F6A800;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.tarifa{
  margin-top: 10%;
  width: 100%;
  background-color: #F6A800;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.Perfil{
  margin-top: 10%;
  width: 100%;
  background-color: #F6A800;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.Preguntas{
  margin-top: 10%;
  width: 100%;
  background-color: #F6A800;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.numTarjeta{
  text-align: center;
  margin-top: 30%;
}
#saldo{
  text-align: center;
  margin-top: 0%;
  font-weight: bold;
  background-color: #F6A800;
}
#tarjeta{
  text-align: center;
  margin-top: 20%;
  font-weight: bold;
  background-color: #F6A800;
}
#fecha{
  text-align: center;
  margin-top: 0%;
  font-weight: bold;
  background-color: #F6A800;
}