/* YeyeYeee código aquí */

.notification{
  width: 100%;
  height: 100%;
  background-color: #3E3F41
}
.titulo {
color:#F6A800;
text-align: center;
font-size: 45px;
font-weight: 800;
font-family: 'Fjalla One', sans-serif;
}
.image{
  width: 70%;
  margin: 25%;
}
.titulo {
padding-bottom: 8%;
}
.inicio{
  width: 100%;
  background-color: #F6A800;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.olvidoContraseña{
color:white;

}
.registrate{
  padding-top: 20%;
  color: white;
}
span{
  color:#F6A800;
  font-weight: bold;
}
.Saldo{
  width: 100%;
  background-color: #F6A800;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.tarifa{
  width: 100%;
  background-color: #F6A800;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.Perfil{
  width: 100%;
  background-color: #F6A800;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}
.Preguntas{
  width: 100%;
  background-color: #F6A800;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}